@charset "utf-8";

.pushable{overflow-x: auto}
.pushable > .pusher{min-width: 500px}
:focus{outline: none}

#header{text-align: right}
#header .header{float:left; margin-right: 1em}
#header .intro{font-size:0.6em; color: #666; font-weight: normal}

#topNavig{margin-top:-0.5em}
#contents{margin-top:1.5em}

#alarm{display: none}

.ui.modal .center.aligned{text-align: center}

/*左侧菜单修正*/
/*
.ui.vertical.menu .item >.title >.icon {width: 1.18em; float: right; margin: 0em 0em 0em 0.5em;}
.ui.labeled.icon.menu .item >.title >.icon:not(.dropdown) {height: 1em; display: block; font-size: 1.42857143em !important; margin: 0em 0.5rem 0em 0em !important;}
.ui.vertical.icon.menu .item >.title > .icon:not(.dropdown) {display: block; margin: 0em auto; float: none;}
.ui.vertical.labeled.icon.menu .item >.title >.icon:not(.dropdown) {margin: 0em auto 0.5rem !important;}
*/
#leftSide{background:#eaeced; border-top: none; border-bottom: none}
#leftSide .menu{padding-bottom:0.5em}
#leftSide .menu > .item{padding-top:0.8em; padding-bottom: 0.8em}
#leftSide .menu > .item > i.icon{display: none}
#leftSide .item::before{top:0; bottom:auto}
#leftSide .item:hover{color:#333; background:rgba(0, 0, 0, 0.03)}
#leftSide .item.active{color:#000; background:rgba(0, 0, 0, 0.05)}
#leftSide > .item:first-child::before{display: none!important}
/*
#leftSide .item .icon{color:#2185d0}
*/

/*顶部导航*/
#top{background:#f3f4f5}

/* .ui.labels 修正 */
.ui.labels{margin-bottom:-0.5em}
.ui.labels .ui.label{font-weight: normal}
.ui.labels .ui.label:last-child{margin-right:0}
.ui.labels .ui.pointing.bottom.label{margin-bottom:0.5em}

/* .ui.form.grid 修正 */
.ui.form .fields .field.right.aligned{text-align:right}
.ui.form .ui.grid.fields{margin-top:0; margin-bottom:0}
.ui.form .ui.grid.fields .column{padding-top: 0!important; padding-bottom: 0!important}
.ui.form .ui.grid.fields .field{margin-bottom:1em}

.ui-stuff-margintop{margin-top:1em}

/* .datagrid*/
.ui-datagrid .handlebar.right.aligned{text-align: right}

/* .ui.table */
.ui.table tr.selected{}
.ui.table tbody .th{background-color:#f4f4f4}

.ui.menu.center.aligned .item{text-align: center}

