
<div class="ui segment clearing" ng-app="demo">

	<form class="ui small form" ng-controller="form">
		<div class="ui grid fields">
			<div class="equal width stackable column row">
				<div class="column">
					<div class="field">
						<label>类型</label>
						<select class="ui compact dropdown" name="type">
							<option value="">not selected</option>
							<option value="1">a</option>
							<option value="2">b</option>
						</select>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label>名字</label>
						<input type="text" name="name" placeholder="">
					</div>
				</div>
			</div>
			<div class="equal width stackable column row">
				<div class="column">
					<div class="field">
						<label>e-mail</label>
						<input type="text" name="e-mail" placeholder="">
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label>时间</label>
						<div class="ui icon input">
							<input class="ui-datapicker" name="date" type="text">
							<i class="calendar icon"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="column row">
				<div class="column">
					<div class="field">
						<label>备注</label>
						<textarea type="text" name="remark" placeholder=""></textarea>
					</div>
				</div>
			</div>
			<div class="equal width stackable column row">
				<div class="column">
					<div class="field">
						<label>select1(ng-repeat)</label>
						<select class="ui compact dropdown" name="type">
							<option value="">not selected</option>
							<option ng-repeat="item in select1" value="{{item}}">{{item}}</option>
						</select>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label>select2(ng-repeat)</label>
						<select class="ui compact dropdown" name="type">
							<option value="">not selected</option>
							<option ng-repeat="item in select2" value="{{item.value}}">{{item.text}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<button class="ui right floated button" type="reset">重置</button>
		<button class="ui primary right floated button" type="submit">添加</button>
	</form>


</div>

<script src="module/demo/form.js"></script>

