@charset "utf-8";

/**********global**********/
html,body,iframe,
div,h1,h2,h3,h4,h5,h6,p,pre,dl,dt,dd,ol,ul,li,
nav,header,footer,section,article,aside,details,summary,
form,label,fieldset,legend,hr,dialog,
canvas,object,embed,progress,audio,video,track,map,area,figure,figcaption,
table,caption,tbody,tfoot,thead,tr,th,td,
span,a,b,strong,em,mark,blockquote,code,del,abbr,dfn,big,small,time,i,acronym,address,cite,ins,kbd,q,samp,sub,sup,tt,var{margin:0; padding:0; border:none; font: inherit}

html{height:100%; overflow: hidden}
body{font-size:62.5%; line-height: 1.5em; letter-spacing:0; font-family:"微软雅黑", "Arial", "Helvetica", "sans-serif"; background:#f3f3f3; color:#8c8680; cursor:default; vertical-align:baseline; height:100%}

.layout-header div,
.layout-main div{transition-duration:.3s; transition-timing-function:ease; transition-property:all}

h1{font-size:3.2em}
h2{font-size:2.4em}
h3{font-size:1.8em}
h4{font-size:1.4em}

ol,ul,dl{list-style:none}

table{border-collapse:collapse; border-spacing:0}

hr{border-top: .2em solid #8c8680}

a{text-decoration:none; color:#9d9791}
a:link{}
a:visited{}
a:hover{text-decoration:underline; color:#8c8680; transition-duration:.3s; transition-timing-function:ease; transition-property:color, border-color, background-color}
a:active{}

img{vertical-align:top; border:none; -ms-interpolation-mode:bicubic;}

label{vertical-align:middle}
label input{vertical-align:middle; cursor:pointer}

/*icon*/
.ico{display:inline-block; border:none; background:url(../images/icons.png) transparent 0 0 no-repeat; overflow:hidden; vertical-align:middle; text-align:center; width:12px; height:12px}

/*button*/
.btn{display:inline-block; border:none; font-family: "微软雅黑", "Arial", "Helvetica", "sans-serif"; font-weight:normal; background:0 0 no-repeat; color: #fff; cursor:pointer; text-align:center; vertical-align: middle; text-decoration:none; box-sizing:content-box; -moz-box-sizing:content-box; padding:0; margin:0; overflow:visible}
.btn .ico{width: 24px; height: 24px; background-position: -120px -24px}
.btn:hover{background-color:#f33}

/*input text*/
.text{font-size: 3em; height: 2.6666em; line-height: 2.6666em; border: none; vertical-align:middle; display: inline-block; overflow:hidden; box-shadow:inset 2px 2px 8px 0 #eee}

/*textarea*/
.textarea{display:inline-block; zoom:1; *display:inline; padding:3px; height:90px; border:1px solid #ccc; border-right-color:#e1e1e1; border-bottom-color:#e1e1e1; color:#999; overflow:hidden; box-shadow:inset 2px 2px 8px 0 #eee; line-height:18px}
.textarea .wrap{display:inline-block; width:100%; height:100%; overflow:auto}
.textarea textarea{border:none; line-height:18px; margin:0; padding:0; width:100%; height:100%; background:transparent; resize:none}

/*check*/
.checkbox{width: 64px; height: 64px; background-position: -192px -160px}
.checkbox-checked{background-position: -128px -160px}

.scrollbarlayer{overflow:auto}

/*fix*/
.clearfix:after {clear:both;content:" ";display:block;height:0;visibility:hidden;}
.clearfix {zoom:1;}

.txt-left{text-align:left!important}
.txt-right{text-align:right!important}
.txt-center{text-align:center!important}

.widthfull{width:100%}
.widthInit{width:auto}

.none{display:none}
.hide{visibility:hidden}

.ellipsis-singleline{text-overflow:ellipsis; white-space:nowrap; overflow:hidden}

/*crumbs*/
.nav-crumbs{padding:0 2px; border-bottom:1px solid #90b830; line-height:18px}
.nav-crumbs .crumb{float:left}

/*page*/
.page{}
.page ul{float:right}
.page li{float:left; margin-left:20px; line-height:26px}
.page .num a{padding:0 2px}
.page .num a.current{color:#693; font-weight:bold}

/*goto top*/
.btn-gototop{position: absolute; top: 0; right: 0; margin: 0 12px 12px 0}
.btn-gototop .ico {width: 32px; height: 32px; background-position: -160px 0}


/**********layout**********/
.layout-header,
.layout-main,
.layout-footer{}
.container{}


/**********header**********/
.layout-header{background: #fff; width:250px; float:left; height:100%}
.layout-header .container{height:100%; overflow:auto; position: relative}
.layout-header .logo{padding:4.1428em; font-size:1.4em}
.layout-header .navig{padding:0 4.1428em; font-size:1.4em; font-family:Arial}
.layout-header .navig li{margin-top:1.5714em}
.layout-header .navig a{color:#c6c3c0; text-decoration:none}
.layout-header .navig .current a{color:#8c8680}
.layout-header .navig a:hover{color:#9d9791}


/**********main**********/
.layout-main{background:#f3f3f3; margin-left:250px; height:100%}
.layout-main .container{height:100%; overflow:auto; position: relative}

.contents{margin:7% 20%}
.contents .content {font-size:1.2em; line-height:1.5em}
.contents .content p{margin-bottom:.8333em}

.contents-about{text-align:center;}
.contents-about .content{font-size:1.8em; line-height:1.9444em}
.contents-about .content p{margin-bottom:.6667em}
.contents-about .content hr{display:block; width:50%; margin:1.9444em auto; border-width:.1em}
.contents-about .content .face{margin-bottom:1.9444em}

.contents-portfolio{margin:7% auto; max-width: 660px; padding:0 48px}
.contents-portfolio .content {margin-top: 3.3333em}
.contents-portfolio .content img{width: 100%; max-width: 660px}
.contents-portfolio .title{font-size: 1.6em; line-height: 2em}
.contents-portfolio .nav{float: right; margin-left: 16px; font-size: 0}
.contents-portfolio .nav .btn .ico{width: 32px; height: 32px}
.contents-portfolio .nav .btn-prev .ico{background-position:-96px 0}
.contents-portfolio .nav .btn-next {margin-left: 6px}
.contents-portfolio .nav .btn-next .ico{background-position:-128px 0}


/**********footer**********/
.layout-footer{position:absolute; width:100%; bottom:0; left:0; text-align:center}
.layout-footer .container{padding:0 .8333em 4.8333em .8333em; font-size:1.2em; height: auto}
.layout-footer .links{font-size:0}
.layout-footer .links .ico{width:32px; height:32px; margin-right:10px}
.layout-footer .links .ico-instagram{background-position:0 0}
.layout-footer .links .ico-behance{background-position:-32px 0}
.layout-footer .links .ico-linkedin{background-position:-64px 0}
.layout-footer .copyright{margin-top:2em}


/**********responsive**********/

/*width*/
.rsp-lte-w640{overflow: auto}
.rsp-lte-w640 .layout-header{float:none; height:auto; width:auto}
.rsp-lte-w640 .layout-header .container {height:auto}
.rsp-lte-w640 .layout-header .logo{float:left; padding:2em 2.2em}
.rsp-lte-w640 .layout-header .logo img{height:100px}
.rsp-lte-w640 .layout-header .navig{padding:.7143em 2em; text-align:right}
.rsp-lte-w640 .layout-header .navig li{margin-top:1.2857em}

.rsp-lte-w640 .layout-main{margin-left:0; height:auto}
.rsp-lte-w640 .layout-main .container{height:auto}
.rsp-lte-w640 .contents-portfolio {padding:0 32px}

.rsp-lte-w640 .layout-footer{position:static; width:auto; background:#fff; margin-top:0!important}
.rsp-lte-w640 .layout-footer .container{padding:2.3333em 2em}

/*height*/
.rsp-lte-h580 .layout-footer{position:static; width:auto; margin-top:80px}


