@charset "utf-8";

body{overflow-x: auto; min-width: 500px}
:focus{outline: none}

#container{padding-top: 2em; padding-bottom: 2em}

#alarm{display: none}

.ui.modal .center.aligned{text-align: center}

/* .ui.labels 修正 */
.ui.labels{margin-bottom:-0.5em}
.ui.labels .ui.label{font-weight: normal}
.ui.labels .ui.label:last-child{margin-right:0}
.ui.labels .ui.pointing.bottom.label{margin-bottom:0.5em}

/* .ui.form.grid 修正 */
.ui.form .fields .field.right.aligned{text-align:right}
.ui.form .ui.grid.fields{margin-top:0; margin-bottom:0}
.ui.form .ui.grid.fields .column{padding-top: 0!important; padding-bottom: 0!important}
.ui.form .ui.grid.fields .field{margin-bottom:1em}

.ui-stuff-margintop{margin-top:1em}

/* .datagrid*/
.ui-datagrid .handlebar.right.aligned{text-align: right}

/* .ui.table */
.ui.table tbody .th{background-color:#f4f4f4}
.ui.table tbody tr.selected{}
.ui.table tbody tr.alarming td:not(.th){background:#f8dada}

.ui.menu.center.aligned .item{text-align: center}


/*.ui-chart-block .ui.top.segment .maximize.icon{float: right}*/

